<html>
    <head>
        <title>
            Add category
        </title>
        <link rel="stylesheet" href="/public/css/addsource.css">
    </head>
    <body>
        <h1>
            ADD CATEGORY
        </h1>
        <div class="box">
        <form class="form" method="POST" action="/category" >
            <table>
                <tr>
                    <td><label for="name">Name :</label></td>
                    <td><input type="text" id= "name" class="input-field" name="name"></td>
                </tr>
           <tr>
               <td><label>Budget :</label></td><br/>
               <td><input type="number" id="budget" class="input-field" name="budget"></td>
           </tr>
        </table>
        <button type="submit" class="btn">Save</button>
        <a href="home"> <button class="btn">Cancel</button></a>
        </form>
       
       
        </div>
    </body>
</html>