<html>
    <head>
        <title>contact us</title>
        <link rel="stylesheet" href="/public/css/contactus.css">
    </head>
    <body>
        <form  class="form" method="POST" action="/contactus">
            <h1>CONTACT US</h1>
            <div class="box">
            <div>
                <label for="Name"> <b>Who You are?</b></label><br/>
                <input type ="text" name="name" id="name" class="input-field">
            </div>
            <br/>
            <div>
                <label  for="description"><b>Tell me your Queries</b></label><br/>
                <textarea name="query" id="query" class="input-field"></textarea>
            </div>
            <br/>
            <div>
                <label for="email"><b>Email</b> </label><br/>
                <input type="email" id="email" name="email" class="input-field">
            </div>
            <br/>
            <div>
                <button type="submit" class="btn" >Submit</button>
            </div>
         
        </div>
        </form>
        
                   
               
        
       
    </body>
</html>