<html>
    <head>
        <title>contact</title>
        <link rel="stylesheet" href="/public/css/contactsuccess.css">
    </head>
    <body>
        <h1><b>Contact us</b></h1>
       
            
                <p> Hi <%= data.name %></p>
                <p>Thank you for getting in touch</p>
            
        
            
        </div>
    </body>
</html>