<html>
    <head>
        <title>contact us</title>
        <link rel="stylesheet" href="/public/css/contactus.css">
    </head>
    <body>
        <form  class="form" method="POST" action="/contactus">
            <h1 style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;">CONTACT US</h1>
            <div class="box">
            <div>
                <label for="Name" style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;"> Who You are?</label><br/>
                <input type ="text" name="name" id="name" class="input-field">
            </div>
            <br/>
            <div>
                <label  for="description" style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;">Tell me your Queries</label><br/>
                <textarea name="query" id="query" class="input-field"></textarea>
            </div>
            <br/>
            <div>
                <label for="email" style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;"><b>Email</b> </label><br/>
                <input type="email" id="email" name="email" class="input-field">
            </div>
            <br/>
            <div>
                <button type="submit" class="btn" style = "font-family: 'Times New Roman', Times, serif; font-weight: bolder;">Submit</button>
            </div>
         
        </div>
        </form>
        
        
                   
               
        
       
    </body>
</html>